body{
    margin: 0;
    font-family: "Lora", serif;
    background-color: #f7f7f7;
}
.images{
    height: 500px;
    width: 100%;
    background-image: url(images/aa2f6c5a65e6cb78734558f7deae3b0d.jfif);
    background-size: 100%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture1{
    background-image: url(images/300d279235514a4d799d7283716f4987.jfif);
}
.picture2{
   background-image: url(images/92b1d1dcd8460c93884068f787c714e2.jfif)
} 
header{
    position: absolute;
    top: 0;
    width: 80%;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
header a{
    color: white;
    text-decoration: none;
}
 header ul{
    display: flex;
    gap: 30px;
}
header nav ul li{
    display: inline;
    font-family: "Oxygen", sans-serif;
}
 .logo{
    font-weight:100 ;
    font-size: 26px;
 }
 .brightness{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;

}
.banner-inner{
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}
.menu{
    background: white;
}

.banner-inner h1{
    font-weight: 100;
    font-size: 50px;
    margin-top: 0;
}

.banner-inner p{
    font-family: "Oxygen", sans-serif;
    font-weight: 100;
    opacity: 0.63;
    font-size: 17px;
}


.banner-inner button{
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    background-color: #DD783F;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 3px;
} 
.menu ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 20px 5%;
}
.menu li a{ 
   text-decoration: none;
   color: black;
}
 .menu2{
 font-family: "Inconsolata", monospace;
 text-align: center;
  margin: 100
 }
 .menu2 h2{
    border-bottom: 2px solid white;
    display: inline-block;
    padding: 15px 30px;
 } 
 .cards{
    display: flex;
    padding: 0 10%;
    gap: 20px;
 }
 .images2{
height: 360px;
background-size: 100%;
width: 100%;
background-repeat: no-repeat;
position: relative;
color: white;
 }
 .profile{
    display: flex;
    align-items: center;
    
 }
 
 
 .profile img{
    width: 30px;
    border-radius: 50%;
    margin-right: 10%; 
    
 }
 .bottom-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 .image-inner{
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 5%;
    color: white;
 }
.images2 h2{
    color: white;
    text-decoration: none;
    font-weight: 50;
    font-size: 30px;
    bottom: 0%;
    left: 5%;

} 
 .menu{
    color: grey;
 }
 .menu2 h2{
    color: black
    
 }
 .grid_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 0 15%;
    background-color: #f7f7f7;
    
 }
 .background{
    width: 100%;
    aspect-ratio: 2/1;
    background-position: center;
    background-size: 100%;
    color: white;
 }
 .image-inner{
    color: white;
 }
 .post{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .border-top{
    border-top: 1px solid lightgrey;
    background-color: #fcfcfc;
    padding: 10px 10px;
 }
 .post-text{
    padding: 0px 10px;
 }
 .post-text{
    font-family: "Oxygen", sans-serif;
    color: #7A7A7A;
    font-size: 13px;

 }
 .bottom-info{
    font-family: "Oxygen", sans-serif;
    font-size: 11px;
    color: #7A7A7A;
    white-space: nowrap;


 }
 
 .img0{
   background-image: url(images/da39ae3ef9ee8c38b3145e586cf8eb52.jfif)
   
 }
 .img1{
 background-image: url(images/c284b29cf7912dafd828068ca1e0562b.jfif);
 }
 .img2{
    background-image: url(images/9c4977ffbaf2c92ded1a2c0102598de8.jfif)
 }
 .img3{
    background-image: url(images/f02760c3fe6108697d475bebcd531665.jfif)
 }
 .img4{
    background-image: url(images/3220a4a260648392b4b7ad26c8a76b6e.jfif)
 }
 .img5{
    background-image: url(images/a265b8e5c3f96460d61f9a45c1c3c662.jfif)
 }
 footer{
   background-image: url(images/e1cc36adb376363a8a8154c0926357df.jfif);
   
 }